@page "/"
@inject HttpClient Http

@if (dadosGerais == null)
{
    <div class="container">
        <div class="row d-flex justify-content-around justify-content-center">
            <div class="d-block mt-3 px-3 py-4 div-center shadow rounded col-11 col-md-4 col">
                <div class="mb-3">
                    <h6>CASOS RECUPERADOS</h6>
                    <h2>0</h2>
                </div>
                <div>
                    <h6>CASOS EM ACOMPANHAMENTO</h6>
                    <h2>0</h2>
                </div>
            </div>
            <div class="d-block mt-3 col-12 col-md-7 col">
                <div class="div-center-white mb-3 d-flex justify-content-around shadow rounded p-3">
                    <div class="d-block">
                        <h6>CASOS CONFIRMADOS</h6>
                        <h2>0</h2>
                    </div>
                    <div class="d-block">
                        <h6>CASOS NOVOS</h6>
                        <h2>0</h2>
                    </div>
                </div>
                <div class="div-center-black d-flex justify-content-around shadow rounded p-3">
                    <div class="d-block">
                        <h6>ÓBITOS CONFIRMADOS</h6>
                        <h2>0</h2>
                    </div>
                    <div class="d-block">
                        <h6>ÓBITOS NOVOS</h6>
                        <h2>0</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row d-flex justify-content-around justify-content-center">
            <div class="d-block mt-3 px-3 py-4 div-center shadow rounded col-11 col-md-4 col">
                <div class="mb-3">
                    <h6>CASOS RECUPERADOS</h6>
                    <h2>@dadosGerais.confirmados.recuperados</h2>
                </div>
                <div>
                    <h6>CASOS EM ACOMPANHAMENTO</h6>
                    <h2>@dadosGerais.confirmados.acompanhamento</h2>
                </div>
            </div>
            <div class="d-block mt-3 col-12 col-md-7 col">
                <div class="div-center-white mb-3 d-flex justify-content-around shadow rounded p-3">
                    <div class="d-block">
                        <h6>CASOS CONFIRMADOS</h6>
                        <h2>@dadosGerais.confirmados.total</h2>
                    </div>
                    <div class="d-block">
                        <h6>CASOS NOVOS</h6>
                        <h2>@dadosGerais.confirmados.novos</h2>
                    </div>
                </div>
                <div class="div-center-black d-flex justify-content-around shadow rounded p-3">
                    <div class="d-block">
                        <h6>ÓBITOS CONFIRMADOS</h6>
                        <h2>@dadosGerais.obitos.total</h2>
                    </div>
                    <div class="d-block">
                        <h6>ÓBITOS NOVOS</h6>
                        <h2>@dadosGerais.obitos.novos</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />


    <TabelaEstados></TabelaEstados>
}


@code{
    DadosGerais dadosGerais;

    protected override async Task OnInitializedAsync()
    {
        dadosGerais = await Http.GetFromJsonAsync<DadosGerais>(@"https://xx9p7hp1p7.execute-api.us-east-1.amazonaws.com/prod/PortalGeralApi");
    }

    public class DadosGerais
    {
        public Confirmados confirmados { get; set; }
        public Obitos obitos { get; set; }
        public DateTime dt_updated { get; set; }
        public Planilha planilha { get; set; }

    }
    public class Confirmados
    {
        public string total { get; set; }
        public string titulo { get; set; }
        public int novos { get; set; }
        public string incidencia { get; set; }
        public string recuperados { get; set; }
        public string acompanhamento { get; set; }
        public string percent { get; set; }
    }
    public class Obitos
    {
        public string total { get; set; }
        public string titulo { get; set; }
        public int novos { get; set; }
        public string incidencia { get; set; }
        public string letalidade { get; set; }
        public string mortalidade { get; set; }
        public string percent { get; set; }
    }
    public class Arquivo
    {
        public string __type { get; set; }
        public string name { get; set; }
        public string url { get; set; }
    }

    public class Planilha
    {
        public string usuario { get; set; }
        public string nome { get; set; }
        public string usuario_id { get; set; }
        public string status { get; set; }
        public Arquivo arquivo { get; set; }
        public DateTime createdAt { get; set; }
        public DateTime updatedAt { get; set; }
        public string objectId { get; set; }
    }
}


<SurveyPrompt Title="How is Blazor working for you?" />
